<div class="container mt-3">
    <h1>Solicitações de novas viagens</h1>
  <% if (solicitacoes && solicitacoes.length > 0) { %>
    <% solicitacoes.forEach(function(solicitacao) { %>
      <div class="card shadow-sm mb-3" style="border-radius: 10px; background-color: #d1e3fd; max-width: 720px; margin: auto;">
        
        <div class="card-header d-flex justify-content-between align-items-center" 
            style="background-color: #a7c9f9; border-top-left-radius: 10px; border-top-right-radius: 10px;">
          <span class="fw-bold" style="color: #062352; font-size: 16px;">
            <%= solicitacao.cidadeconsul.descricao %> - <%= solicitacao.local_consul %> - <%= solicitacao.hora_consul.slice(0,5) %> 
          </span>
          <span class="fw-bold" style="color: #062352; font-size: 15px;">
            <%= solicitacao.data_consul.split('-').reverse().join('/')  %>
          </span>
        </div>

        <div class="card-body d-flex justify-content-between align-items-center">

          <div class="d-flex align-items-center">
            <img 
              src="<%= solicitacao.Usuario.img ? '/uploads/' + solicitacao.Usuario.img : '/assets/default-profile.jpg' %>" 
              alt="Foto de perfil" 
              class="rounded-circle me-3"
              style="width: 40px; height: 40px; object-fit: cover;">
            <div>
              <h6 class="mb-0">
                <%= solicitacao.Usuario.nome.toUpperCase() %> 
                <% if (solicitacao.nome_acomp) { %>
                  + acompanhante
                <% } %>
              </h6>
                <% if (solicitacao.encaminhamento) { %>
                <a
                  href="/uploads/<%= solicitacao.encaminhamento %>"
                  target="_blank"
                  class="botao-visualizar"
                >
                  Encaminhamento
                </a>
                <% } else { %>
                <span class="text-muted" style="font-size: 13px"
                  >Não enviado</span
                >
                <% } %>
            </div>
          </div>

          <div class="margem">
            <a href="/admin/viagens/nova-viagem?data_viagem=<%= solicitacao.data_consul %>&cidade_consul=<%= solicitacao.cidadeconsul.cod %>&solicitacaoID=<%= solicitacao.cod %>" 
              class="botao">
              Criar
            </a>
            <form action="/admin/solicitacoes/rejeitar/<%= solicitacao.cod %>?_method=DELETE" method="POST">
              <button type="submit" class="botao bg-vermelho">
                Rejeitar
              </button>
            </form>
          </div>

        </div>
      </div>
    <% }) %>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="flex-grow: 1; gap: 6px;">
  <% if (paginaNun > 1) { %>
    <a href="?page=<%= paginaNun - 1 %>" class="botao-paginacao">‹</a>
  <% } else { %>
    <button class="botao-paginacao" disabled>‹</button>
  <% } %>

  <% for (let i = 1; i <= totalPaginas; i++) { %>
    <a href="?page=<%= i %>" class="botao-paginacao <%= i === paginaNun ? 'ativo' : '' %>">
      <%= i %>
    </a>
  <% } %>

  <% if (paginaNun < totalPaginas) { %>
    <a href="?page=<%= paginaNun + 1 %>" class="botao-paginacao">›</a>
  <% } else { %>
    <button class="botao-paginacao" disabled>›</button>
  <% } %>
</div>
 <% } else { %>
    <p class="text-center text-muted mt-4">Não há solicitações de viagem no momento.</p>
<% } %>



